<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>
      <%= browser.title %> <%= browser.subTitle %>: <%= browser.description %>
    </title>
    <script defer src="/javascripts/layout.js"></script>
  </head>

  <body>
    <header><%- include('../partials/header.ejs') %></header>

    <main>
      <%- body %>
      <p id="layout-insert-js"></p>
    </main>
    
    <footer><%- include('../partials/footer.ejs') %></footer>
  </body>

</html>
